<style>
        body {
            margin: 0;
            padding: 0;
            display: block;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        .image-container {
            width: auto;
            height: auto;
        }
        
        img {
            max-width: 50%;
            max-height: 50%;
            display: inline;
            margin: 0;
        }
    </style>
