<style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        }
        
        img {
        dheight: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    </style>
