.lw { font-size: 60px; }
<style>
        

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
        
video {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
  text-align: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
}



    </style>
